<% if (page.prev || page.next){ %>
<nav class="article-nav clearfix">
 <% if (page.prev){ %>
 <div class="article-prev" >
 <a href="<%- config.root %><%- page.prev.path %>" title="<%= page.prev.title %>">
  <i class="fa fa-long-arrow-left"></i>
  <span>
  <% if (page.prev.title){ %><%= page.prev.title %><% } else { %>(no title)<% } %></span>
</a>
</div>
<% } %>
<% if (page.next){ %>
<div class="article-next">
<a href="<%- config.root %><%- page.next.path %>"  title="<%= page.next.title %>">
 <span><% if (page.next.title){ %><%= page.next.title %><% } else { %>(no title)<% } %>
</span>
<i class="fa fa-long-arrow-right"></i>
</a>
</div>
<% } %>
</nav>
<% } %>