<%
var title = '';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
if (page.archive){
  if (page.year) title = page.year + (page.month ? '/' + page.month : '');
  else title = __('archive_a');
}
%>
<h2 class="archive-title<% if (page.tag){ %> tag<% } else if (page.category){ %> category<% } %>"><%= title %></h2>

<% if (pagination == 2){ %>
  <% page.posts.each(function(item){ %>
    <%- partial('article', {item: item, index: true}) %>
  <% }); %>

  <%- partial('pagination') %>
<% } else { %>
  <div class="archive">
    <% page.posts.each(function(item){ %>
      <article class="<%= item.layout %>">
        <div class="post-content-index">
        <header>
          <div class="icon"></div>
            <% if (item.link){ %>
              <% if (item.title){ %>
                <h1 class="title transition"><a href="<%- item.link %>" target="_blank"><%= item.title %></a></h1>
              <% } else { %>
                <h1 class="title transition"><a href="<%- item.link %>" target="_blank"><%= item.link %></a></h1>
              <% } %>
            <% } else { %>
              <h1 class="title transition"><a href="<%- config.root %><%- item.path %>" target="_blank"><%= item.title %></a></h1>
            <% } %>
          <ul>
            <li>
              <span class="heading-span">Posted on: </span>
              <time datetime="<%= item.date.toDate().toISOString() %>"><%= item.date.format(config.date_format) %></time>
            </li>
            <% if (config.author){ %>
              <li>
                <span class="heading-span">By: </span>

                <% if (theme.personal_site){ %>
                  <a href="<%= theme.personal_site %>" target="_blank"><%= config.author %></a>

                <% } else { %>
                  <a href="/"><%= config.author %></a>
                <% } %>

              </li>
            <% } %>
            <li>
              <span class="heading-span">With: </span>
              <% if(config.disqus_shortname && !theme.comment.duoshuo) { %>
                <a href="<%- config.root %><%- item.path %>#disqus_thread">Comments</a>

              <% } else if(theme.comment.duoshuo && theme.comment.duoshuo_short_name) { %>
                <a href="<%- config.root %><%- item.path %>#ds-thread"><span class="ds-thread-count" data-thread-key="<%- item.path %>" data-count-type="comments"></span></a>
              <% } %>
          </ul>
        </header>
      </article>
    <% }); %>
  </div>
<% } %>



   